#preloader_4{
    position:relative;
	top: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5%;
}
#preloader_4 span{
	font-size: 30px;
	font-weight: bold;
	color: black;
	/*position:absolute;*/
	width:50px;
	height:50px;
	animation: preloader_4 1s infinite ease-in;
	display: inline-block;
	transform: translateY(100);
}
#preloader_4 span:nth-child(2){
	left: 20px;
	animation-delay: .1s;
}
#preloader_4 span:nth-child(3){
	left: 40px;
	animation-delay: .2s;
}
#preloader_4 span:nth-child(4){
	left: 60px;
	animation-delay: .3s;
}
#preloader_4 span:nth-child(5){
	left: 80px;
	animation-delay: .4s;
}
#preloader_4 span:nth-child(6){
	left: 100px;
	animation-delay: .5s;
}
#preloader_4 span:nth-child(7){
	left: 120px;
	animation-delay: .6s;
}
#preloader_4 span:nth-child(8){
	left: 140px;
	animation-delay: .7s;
}
#preloader_4 span:nth-child(9){
	left: 160px;
	animation-delay: .8s;
}
#preloader_4 span:nth-child(10){
	left: 180px;
	animation-delay: .9s;
}
#preloader_4 span:nth-child(11){
	left: 200px;
	animation-delay: 1s;
}

@keyframes preloader_4 {
    0%{
		transform: translateY(100);
	}
	20%{
		transform: translateY(-10px);
	}
	
}